body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  align-items: center;
}

.flex{
  display: flex;
  align-items: center;
}

/* Header */
.logo img{
  margin-left: 10px;
  height: 50px;
  align-items: left;
}

header{
  justify-content: space-between;
  background: black;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 1;
  padding-top: 10px;
  border-bottom: 1px solid seashell;
}

nav{
  text-align: right;
  flex-grow: 1;
}

nav span{
  padding: 20px 10px;
}

.main-nav a{
  color: seashell;
}

.main-nav a:hover{
  text-decoration: none;
}

/* Banner */
.banner{
  background-image: url('../../resources/images/mission-background.jpg');
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  justify-content: center;
  margin: auto;
}

.banner-text{
  background: black;
  width: 100%;
}

/* Middle Content */
.tea-month{
  flex-basis: 1000px;
}
.item{
  flex-wrap: wrap;
}

.item img{
  height: 200px;
  width: 300px;
}

/* Locations */
.locations {
  background-image: url('../../resources/images/locations-background.jpg');
  height: 500px;
}

/* Footer */
